.tabs{
    background-color: #ffffff;
}

ion-toolbar.tabs {
  --background: #fff;
  --color: #000;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); // efek shadow biar elegan
}

ion-toolbar.tabs h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

ion-toolbar.tabs p {
  margin: 0;
  font-size: 13px;
  color: #666;
}
