<ion-content class="login-page">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6" size-xl="4">
        <div class="login-container ion-padding">
          <div class="header">
            <h1>Welcome!</h1>
            <p>Login to unlock the full potential of app</p>
          </div>

          <form (ngSubmit)="checkAcc()">
            <ion-item class="input-item" lines="none">
              <ion-input
                labelPlacement="stacked"
                label="Email"
                placeholder="email@domain.com"
                type="email"
                [(ngModel)]="email"
                name="email"
                required
              >
                <ion-icon
                  slot="start"
                  name="mail-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item class="input-item" lines="none">
              <ion-input
                labelPlacement="stacked"
                label="Kata Sandi"
                placeholder="Masukkan kata sandi Anda"
                type="password"
                [(ngModel)]="pass"
                name="password"
                required
              >
                <ion-icon
                  slot="start"
                  name="lock-closed"
                  aria-hidden="true"
                ></ion-icon>

                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-button type="submit" expand="block" class="login-btn">
              Login
            </ion-button>
          </form>

          <div class="signup-link">
            <span>Don't have an account?</span>
            <a routerLink="/signup">Sign Up</a>
          </div>

          <div class="terms">
            <p>
              By continuing, I accept the Terms and Condition & Privacy Policy
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
