<ion-header [translucent]="true" style="background-color: #ffffff;">
  <ion-searchbar animated="true" placeholder="Cari Berita"></ion-searchbar>
  <ion-segment class="tabs" [(ngModel)]="jenisTampilan">
    <ion-segment-button value="trending">
      <ion-label class="nav-tabs">Trending</ion-label>
    </ion-segment-button>

    <ion-segment-button value="economics" class="tabs">
      <ion-label class="nav-tabs">Economics</ion-label>
    </ion-segment-button>

    <ion-segment-button value="technology" class="tabs">
      <ion-label class="nav-tabs">Technology</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="jenisTampilan === 'trending'">
    <ion-row *ngFor="let beritas of chunkArray(berita_trending, 2); let i = index">
      <ion-col size="6" *ngFor="let berita of beritas; let i2 = index" class="news-col">
        <ion-card class="news-card" routerLink="/detail-berita/{{(i*2)+i2}}">
          <ion-img [src]="berita.gambarUrl" alt="Gambar Berita"></ion-img>

          <ion-card-header>
            <ion-card-title class="judul-berita">{{ berita.judulBerita }}</ion-card-title>
            <ion-card-subtitle>
              {{ berita.tanggalRilis }} | {{ berita.penerbit }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="news-card-content">
            <ion-item lines="none">
              <ion-icon name="star" size="small" color="warning" slot="start"></ion-icon>
              <ion-label>
                {{ berita.rating }} | {{ berita.jumlahReview }} ulasan
              </ion-label>
            </ion-item>

            <ion-button fill="outline" size="small" expand="block" (click)="addToFavorite(berita)">
              <ion-icon name="bookmark-outline" slot="start"></ion-icon>
              Tambah ke Favorit
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="jenisTampilan === 'economics'">
    <ion-row *ngFor="let beritas of chunkArray(berita_economics, 2)">
      <ion-col size="6" *ngFor="let berita of beritas" class="news-col">
        <ion-card class="news-card">
          <ion-img [src]="berita.gambarUrl" alt="Gambar Berita"></ion-img>

          <ion-card-header>
            <ion-card-title class="judul-berita">{{ berita.judulBerita }}</ion-card-title>
            <ion-card-subtitle>
              {{ berita.tanggalRilis }} | {{ berita.penerbit }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="news-card-content">
            <ion-item lines="none">
              <ion-icon name="star" size="small" color="warning" slot="start"></ion-icon>
              <ion-label>
                {{ berita.rating }} | {{ berita.jumlahReview }} ulasan
              </ion-label>
            </ion-item>

            <ion-button fill="outline" size="small" expand="block" (click)="addToFavorite(berita)">
              <ion-icon name="bookmark-outline" slot="start"></ion-icon>
              Tambah ke Favorit
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="jenisTampilan === 'technology'">
    <ion-row *ngFor="let beritas of chunkArray(berita_technology, 2)">
      <ion-col size="6" *ngFor="let berita of beritas" class="news-col">
        <ion-card class="news-card">
          <ion-img [src]="berita.gambarUrl" alt="Gambar Berita"></ion-img>

          <ion-card-header>
            <ion-card-title class="judul-berita">{{ berita.judulBerita }}</ion-card-title>
            <ion-card-subtitle>
              {{ berita.tanggalRilis }} | {{ berita.penerbit }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="news-card-content">
            <ion-item lines="none">
              <ion-icon name="star" size="small" color="warning" slot="start"></ion-icon>
              <ion-label>
                {{ berita.rating }} | {{ berita.jumlahReview }} ulasan
              </ion-label>
            </ion-item>

            <ion-button fill="outline" size="small" expand="block" (click)="addToFavorite(berita)">
              <ion-icon name="bookmark-outline" slot="start"></ion-icon>
              Tambah ke Favorit
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-toast [isOpen]="isToastOpen" message="{{ toastMessage }}" duration="1000" (didDismiss)="isToastOpen = false">
</ion-toast>