<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <h3>Berita Favorit Kamu</h3>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div *ngFor="let fav of favorites" style="position: relative; margin-bottom: 10px;">
  <ion-card class="section-listberita" [routerLink]="['/detail-berita', fav.id]" (click)="addViews(fav.id)">
    <div style="display: flex; padding: 10px; gap: 10px; background-color: #ffffff;">

      <div style="flex: 2; display: flex; align-items: center">
        <img [src]="fav.gambarUrl" alt="Berita Image" style="width: 100%; border-radius: 8px; object-fit: cover" />
      </div>

      <div style="flex: 3">
        <p style="margin: 0; font-weight: bold">
          {{ fav.judulBerita }}
        </p>
        <p style="margin: 0"><ion-text>{{ fav.tanggalRilis }}</ion-text></p>
        <p style="margin: 0"><ion-text>by {{ fav.penerbit }}</ion-text></p>
        <div style="display: flex; align-items: center; gap: 4px">
          <ion-icon name="star" size="small" color="warning"></ion-icon>
          <span>{{ fav.rating }} ({{ fav.jumlahReview }} reviews)</span>
          <ion-icon name="eye-outline">{{ fav.views }}</ion-icon>
              <span>{{ fav.views }} views</span>
        </div>
      </div>    
    </div>
  </ion-card>
   <ion-button 
      fill="outline"
      size="small"
      color="danger"
      (click)="removeFavorite(fav)"
      style="
        position: absolute;
        bottom: 4px;
        right: 16px;
        height: 32px;
        width: 32px;
        --padding-start: 0;
        --padding-end: 0;
      ">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  message="{{ toastMessage }}"
  duration="1000"
  (didDismiss)="isToastOpen = false">
</ion-toast>