<ion-content [fullscreen]="true">
  <ion-grid *ngIf="userData; else loading">
    <ion-row>
      <ion-col size="12" size-md="3">
        <div class="sidebar">
          <div class="profile">
            <img [src]="userData.fotoProfil" class="avatar-preview" />
            <h3>{{ userData.namaDepan }} {{ userData.namaBelakang }}</h3>
            <p>{{ userData.jabatan || 'Cashier' }}</p>
          </div>

          <ion-list lines="full" class="sidebar-list">
            <ion-item button class="active">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-label>Personal Information</ion-label>
            </ion-item>

            <ion-item button>
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label>Login & Password</ion-label>
            </ion-item>

            <ion-item button (click)="logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>

      <ion-col size="12" size-md="9">
        <div class="form-container">
          <h2>Personal Information</h2>

          <form (ngSubmit)="saveChanges()">
            <ion-radio-group
              [(ngModel)]="userData.gender"
              name="gender"
              class="gender-group"
            >
              <ion-item lines="none">
                <ion-label>Male</ion-label>
                <ion-radio slot="start" value="Male"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="Female"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-input
                      label="First Name"
                      [(ngModel)]="userData.namaDepan"
                      name="firstName"
                    ></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-input
                      label="Last Name"
                      [(ngModel)]="userData.namaBelakang"
                      name="lastName"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-input
                      label="Email"
                      type="email"
                      [value]="akun?.accountEmail"
                      name="email"
                      readonly
                    ></ion-input>
                    <ion-badge color="success" slot="end">Verified</ion-badge>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-input
                      label="Address"
                      [(ngModel)]="userData.alamat"
                      name="address"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-input
                      label="Phone Number"
                      [(ngModel)]="userData.telepon"
                      name="phone"
                    ></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-input
                      label="Date of Birth"
                      type="date"
                      [(ngModel)]="userData.tanggalLahir"
                      name="dob"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-select
                      label="Location"
                      [(ngModel)]="userData.lokasi"
                      name="location"
                    >
                      <ion-select-option value="Jakarta, Indonesia">Jakarta, Indonesia</ion-select-option>
                      <ion-select-option value="Bandung, Indonesia">Bandung, Indonesia</ion-select-option>
                      <ion-select-option value="Surabaya, Indonesia">Surabaya, Indonesia</ion-select-option>
                      <ion-select-option value="Medan, Indonesia">Medan, Indonesia</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-input
                      label="Postal Code"
                      [(ngModel)]="userData.kodePos"
                      name="postal"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="action-buttons">
              <ion-button
                fill="outline"
                color="danger"
                type="button"
                (click)="discardChanges()"
              >
                Discard Changes
              </ion-button>
              <ion-button expand="block" color="warning" type="submit">
                Save Changes
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #loading>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>