<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semua-berita"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="berita; else notFound" [fullscreen]="true" class="news-page">
  <div class="news-container">

    <div class="news-header">
      <h2>{{ berita.judulBerita }}</h2>
      <div class="date">{{ berita.tanggalRilis }}</div>
      <div class="channel">
        <span>{{ berita.penerbit }}</span>
      </div>
    </div>


    <div class="news-image">
      <img [src]="berita.gambarUrl" alt="Gambar Berita" />
    </div>


    <div class="news-gallery" *ngIf="berita.gambarTambahan && berita.gambarTambahan.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let img of berita.gambarTambahan">
            <img [src]="img" alt="Gambar Tambahan" class="gallery-img" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="news-content">
      <p>{{ berita.isiBerita || 'Konten berita belum tersedia.' }}</p>
    </div>

    <div class="rating-stars">

      <ion-icon *ngFor="let jum of [1,2,3,4,5]" [name]="jum <= berita.rateUser ? 'star' : 'star-outline'" color="warning"
        size="medium" (click)="beriRating(jum)"></ion-icon>

    </div>


    <div class="comments-section">
      <h3>Komentar ({{ filteredComments.length }})</h3>

      <div class="comment-list">
        <div *ngFor="let c of filteredComments" class="comment-item">
          <img [src]="c.avatar" alt="avatar" class="avatar" />
          <div class="comment-body">
            <div class="username">{{ userData.namaDepan }} {{ userData.namaBelakang }}</div>
            <div class="text">{{ c.comment }}</div>
          </div>
        </div>

        <div *ngIf="filteredComments.length === 0" class="no-comments">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <p>Belum ada komentar. Jadilah yang pertama berkomentar!</p>
        </div>
      </div>


      <div class="add-comment">
        <img [src]="userData?.fotoProfil" alt="foto user" class="avatar" />
        <ion-input [(ngModel)]="newComment" placeholder="Tambah komentar..." (keyup.enter)="addComment()"></ion-input>
        <ion-icon name="send" (click)="addComment()" [class.disabled]="newComment.trim() === ''"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #notFound>
  <ion-content class="news-page">
    <div class="error-container">
      <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      <h2>Berita tidak ditemukan</h2>
      <p>Mohon periksa kembali ID berita atau kembali ke halaman sebelumnya.</p>
      <ion-button routerLink="/semua-berita" color="primary">
        Kembali ke Semua Berita
      </ion-button>
    </div>
  </ion-content>
</ng-template>